{% extends 'base.html.twig' %}

{% block title %} Cambiar contraseña de socio {% endblock %}

{% block body %}
    <h1>Cambio de contraseña de {{ socio.nombre }} {{ socio.apellidos }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <a href="{{ path('socio_listar') }}">Volver</a>
    <button type="submit">Guardar</button>
    {{ form_end(form) }}
{% endblock %}