{% extends 'base.html.twig' %}

{% block title %} Libros {% endblock %}

{% block body %}
    <a href="{{ path('libro_nuevo') }}" class="btn btn-secondary">Registrar nuevo libro</a>
    <table border="1px">
        <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>Año de Publicacion</th>
            <th>Paginas</th>
            <th>Editorial</th>
            <th>Acciones</th>
        </tr>
        {% for libro in libros %}
            <tr>
                <td>{{ libro.id }}</td>
                <td><a href="{{ path('autores', {'id': libro.id}) }}">{{ libro.titulo }}</a></td>
                <td>{{ libro.anioPublicacion | date('d-m-Y') }}</td>
                <td>{{ libro.paginas }}</td>
                <td>{{ libro.editorial }}</td>
                <td><a href="{{ path('libro_modificar', {'id': libro.id}) }}" class="btn btn-secondary">Modificar</a><a href="{{ path('libro_eliminar', {'id': libro.id}) }}" class="btn btn-secondary">Eliminar</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}